node_modules
.next
out
build
dist

# env
.env
.env*.local

# prisma / sqlite
*.db
*.db-journal
dev.db*
prisma/dev.db*

# misc
.DS_Store
*.log
next-env.d.ts
.vercel
tsconfig.tsbuildinfo

# local test artifacts
test-statement.pdf
gen-test-pdf.mjs
bank-statement-demo.pdf
gen-statement.mjs
encrypted-test.pdf
enc-test.mjs
